
body {
    background-color: #F5D9D5;
    font-family: 'Nunito', sans-serif;
}

.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.candy_title {
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 60px;
}

.candy_header {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    color: #EA1C2C;
}

#heading {
    color: #EA1C2C;
}

p {
    color: #f498b8;
    line-height: 2;
    font-weight: 100;
    font-size: 1.125rem;
}

.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 100;
    
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #EA1C2C;
}

.navbar-light .navbar-brand {
    color: #EA1C2C;
    text-transform: uppercase;
    font-weight: 100;
}

.navbar-light .navbar-brand:hover {
    color: #EA1C2C;
    text-transform: uppercase;
    font-weight: 100;
}

